@media only print {
  .terminal, .notification, .commander, .mobile-dock {
    display: none;
  }
  .preview {
    background-color: white;
    color: black;
    display: block;
  }
  .preview > * {
    display: block;
  }
  .preview.hidden {
    display: block;
  }
}
